<div class="pull-right">
	<button class="btn btn-info rounded-end-0" (click)="goToRegistration()">
		Registration
	</button>
</div>
<br>
<br>
<div class="container-fluid">
	<div class="row justify-content-center align-items-center g-2">
		<div class="col-12 text-center">
			<legend>
				Login
			</legend>
		</div>
	</div>
	<div class="row justify-content-center align-items-center g-2">
		<div class="col-10 offset-1 shadow rounded bg-body-tertiary">
			<app-lform
				[alert]="alert"
			></app-lform>
		</div>
	</div>
</div>

<div class="container" *ngIf="alert.error">
	<div class="row justify-content-center align-content-center">
		<div class="col-10 offset-1">
			<app-alert 
				atype="DANGER"
				[alertmodel]='alert'
				[message]="alert.message"
			></app-alert>
		</div>
	</div>
</div>