<div class="pull-left">
	<button class="btn btn-info rounded-start-0" (click)="goToLogin()">
		Login
	</button>
</div>
<br>
<br>
<div class="container-fluid">
	<div class="row justify-content-center align-items-center g-2">
		<div class="col-12 text-center">
			<legend>
				Register your account
			</legend>
		</div>
	</div>
	<div class="row justify-content-center align-items-center g-2">
		<div class="col-10 offset-1 shadow rounded bg-body-tertiary">
			<app-rform></app-rform>
		</div>
	</div>
</div>
